beautifulsoup4
celery
datedelta
dj-database-url
Django
django-cors-headers
django-extensions
django-filter
django-graphql-jwt
django-heroku
graphene-django
gunicorn
html5lib
munch
psycopg2
PyJWT
redis
requests
ujson
ultimate-sitemap-parser
urllib3
