beautifulsoup4
celery
Django
dj-database-url
django-cors-headers
django-extensions
django-filter
django-graphql-jwt
django-heroku
graphene-django
graphql-core
graphql-relay
gunicorn
html5lib
munch
pandas
psycopg2
redis
requests
ujson
ultimate-sitemap-parser
urllib3
