beautifulsoup4
celery
Django
dj-database-url
django-cors-headers
django-extensions
django-filter
django-heroku
graphql-core<3
graphene-django
django-graphql-jwt
gunicorn
html5lib
munch
pandas==1.2.4
psycopg2
redis
urllib3
requests
ujson
ultimate-sitemap-parser
